<%- include('../layouts/adminheader.ejs') %>



<div class="container ">
    <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col">
                <div class="card">
                    <div class="text-center">
                        <h3>Admin</h3>
                    </div>
                    <div>
                        <ul class="list-group list-group-flush ">
                            <li  class="list-group-item" >User management
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item" ><a href="/admin/usermanage" class="text-decoration-none">Manage User</a></li>
                                </ul>
                            </li>
                            <li  class="list-group-item" >Product management
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item" ><a href="/admin/products" class="text-decoration-none">View Product </a></li>
                                    <li class="list-group-item" ><a href="/admin/addproduct" class="text-decoration-none">Add Product</a></li>
                                </ul>
                            </li>
                            <li  class="list-group-item" >Category management
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item" ><a href="/admin/categorymanage" class="text-decoration-none">Manage Category </a></li>
                                    <li class="list-group-item" ><a href="/admin/addcategory" class="text-decoration-none">Add Category</a></li>
                                </ul>
                            </li>
                            <li  class="list-group-item" >Order management
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item" ><a href="/admin/allorders" class="text-decoration-none">All Orders</a></li>
                                </ul>
                            </li>
                            <li  class="list-group-item" >Coupon management
                                <ul class="list-group list-group-flush ">
                                    <li class="list-group-item" ><a href="/admin/allcoupons" class="text-decoration-none">All coupons</a></li>
                                    <li class="list-group-item" ><a href="/admin/addcoupons" class="text-decoration-none">add coupons</a></li>
                                   
                                </ul>
                            </li>
                            
                        </ul>
                    </div>

                </div>
            </div>
            </div>
        </div>
        <div class="col-md-8">
          <div class="row">
            <h2>All products</h2>

            <table class="table">
                <th>Name of Product</th>
                <th>Price of product</th>
                <th> Edit the product</th>
                <th> Delete the product</th>
                <% products.forEach(product => { %>
                <tr>
                    <td ><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><a href="/admin/editproduct/<%= product._id %>" class="text-decoration-none">edit product</a></td>
                    <td><a href="/admin/products/<%= product._id %>" class="text-decoration-none">Delete Product</a></td>
                </tr>
              <%  }); %>
            </table>
            <div class="col">

            </div>
          </div>

        </div>

  
    </div>
  </div>
  



<%- include('../layouts/adminfooter.ejs') %>