<%- include('../layouts/logginheader.ejs') %>

<div class="container vh-100 mt-4 ">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="text-center">
                            <h3>User</h3>
                        </div>
                        <div>
                            <ul class="list-group list-group-flush ">
                                <li  class="list-group-item" ><a href="/api/v1/user/editprofile" class="text-decoration-none">Edit profiles</a></li>
                                <li  class="list-group-item"><a href="/api/v1/user/userorders" class="text-decoration-none">Show Orders</a></li>
                                <li  class="list-group-item"><a href="/api/v1/user/useraddress" class="text-decoration-none">Show addresses</a></li>
                                <li  class="list-group-item"><a href="/api/v1/user/changepassword" class="text-decoration-none">change passord</a></li>
                                <li  class="list-group-item"><a href="/api/v1/user/userwallet" class="text-decoration-none">Wallet</a></li>
                                </ul>
                        </div>
    
                    </div>
                </div>
                </div>
        </div>
        <div class="col-md-8">

            <div class="container ">
                
                        <form action="/api/v1/user/changepassword" method="post" class="form-control" >
                            <h1 class="text-center">Change password</h1>
                            <div class="form-group">
                                <label for="" class="text-dark">Current Password</label>
                                <input type="password" placeholder="enter current password" required name="currentPassword" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="" class="text-dark">New Password</label>
                                <input type="password" placeholder="enter new password" required name="newPassword" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="" class="text-dark">Confirm new Password</label>
                                <input type="password" placeholder="confirm new password" required name="confirmPassword" class="form-control">
                            </div>
   
                            <div class="d-flex flex-column align-items-center mt-3 p-2">
                                <div>
                                    <input type="submit" value="Change Password" class="btn btn-primary mb-2" >
                                </div> 
                            </div>                       
                        </form> 

                        <% if (errors && errors.length > 0) { %>
                            <div class="alert alert-danger">
                                <ul>
                                    <% errors.forEach(error => { %>
                                        <li><%= error %></li>
                                    <% }); %>
                                </ul>
                            </div>
                        <% } %>      
                        
                            
                        
            <% if(typeof message !== 'undefined'){ %>
                <div class="alert alert-danger">
                    <li ><%= message %></li>
                </div> 
                <% } %>
                
                <% if(typeof passMessage !== 'undefined'){ %>
                    <div class="alert alert-success">
                        <li ><%= passMessage %></li>
                    </div> 
                    <% } %>
    
    
</div>             

</div>
</div>
</div>
<%- include('../layouts/footer.ejs') %>