<%- include('../layouts/logginheader.ejs') %>

<div class="container mt-4 vh-100">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">User</h3>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="/user/editprofile" class="text-decoration-none">Edit Profile</a></li>
                        <li class="list-group-item"><a href="/user/userorders" class="text-decoration-none">Show Orders</a></li>
                        <li class="list-group-item"><a href="/user/useraddress" class="text-decoration-none">Show Addresses</a></li>
                        <li class="list-group-item"><a href="/user/changepassword" class="text-decoration-none">Change Password</a></li>
                        <li class="list-group-item"><a href="/user/userwallet" class="text-decoration-none">Wallet</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <% if (user && user.addresses && user.addresses.length > 0) { %>
                            <% user.addresses.forEach(address => { %>
                                <div class="card mt-3">
                                    <div class="card-header">Address</div>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <strong>Locality:</strong> <%= address.locality %><br>
                                            <strong>City:</strong> <%= address.city %><br>
                                            <strong>District:</strong> <%= address.district %><br>
                                            <strong>State:</strong> <%= address.state %><br>
                                            <strong>Zip Code:</strong> <%= address.zipcode %><br>
                                            <!-- <a href="/user/useraddress/<%= address._id %>" class="btn btn-danger mt-2">Remove Address</a> -->
                                        </li>
                                    </ul>
                                </div>
                            <% }); %>
                        <% } else { %>
                            <p class="mt-3">No addresses found for this user.</p>
                        <% } %>
                        <a href="/user/addaddress" class="btn btn-primary mt-3">Add New Address</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .container {
        flex: 1;
    }
</style>

<%- include('../layouts/footer.ejs') %>
